@tailwind base;
@tailwind components;
@tailwind utilities;

.client.debug {
  -webkit-box-shadow: inset 0px 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 0px 5px #000000;
}

.server.debug {
  -webkit-box-shadow: inset 0px 0px 0px 5px #9f00c5;
  box-shadow: inset 0px 0px 0px 5px #9f00c5;
}

.server.card.debug {
  padding: 5px;
}

.homepage {
  background-image: url("/bg.png");
  background-size: cover;
}
